<nav id="main-menu" class="uk-navbar">
    <ul class="uk-navbar-nav">
        <li class="{{new}}"><a href="#/" ><i class="uk-icon-star uk-icon-large"></i></a></li>
        <li class="{{myTickets}}"><a href="#/my-tickets" ><i class="uk-icon-ticket uk-icon-large"></i></a></li>
        <li class="{{myTickets}}"><a href="#/my-tickets" ><i class="uk-icon-large uk-icon-inbox"></i></a></li>
        <li class="{{myTickets}}"><a href="#/my-tickets" ><i class="uk-icon-large uk-icon-flag"></i></a></li>
        <li class="{{myTickets}}"><a href="#/my-tickets" ><i class="uk-icon-large uk-icon-pie-chart"></i></a></li>
        
    </ul>
</nav>