<div blg-menu menu-title="AngularJS Blog"></div>
<div id="container" class="uk-container">
    <div class="uk-grid">

        <form class="uk-form uk-form-stacked uk-width-1-1">
            <fieldset>
                <legend>New Ticket</legend>
                <div class="uk-form-row uk-width-1-1 uk-top-margin">
                    <label class="uk-form-label">Who needs help</label>
                    <select class="uk-width-1-1">
                        <option>Ignasi Puchades</option>
                        <option>Jordi Almirall</option>
                        <option>Pere Pagès</option>                     
                    </select>

                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label">Issue</label>
                    <div class="uk-form-controls">
                        <label><input name="issue" type="radio" /> Emails on Outlook</label><br/>
                        <label><input name="issue" type="radio" /> MS Office</label><br/>
                        <label><input name="issue" type="radio" /> Network problem</label><br/>
                        <label><input name="issue" type="radio" /> Phone configuration</label><br/>
                        <label><input name="issue" type="radio" /> Replace toner</label><br/>
                        <label><input name="issue" type="radio" /> Other</label><br/>
                    </div>
                </div>
            </fieldset>
        </form>


    </div>
</div>

