<div blg-menu menu-title="AngularJS Blog"></div>
<div id="container" class="uk-container">
    <div class="uk-grid" data-uk-grid-margin>

        <div class="uk-width-1-1">
            <h1 class="uk-h3 title uk-width-1-1">Ticket {{ticket.id}}</h1>
        </div>
        
        <div class="uk-width-1-1 uk-margin-top">
            <h2><div class="uk-badge uk-badge-notification {{helpers.badge(ticket.status)}}">{{ticket.status}}</div> {{ticket.category}}</h2>
        </div>

        
    </div>
</div>
